/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;

  top: 0;

  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: 0.4s;
}

.header__shrink {
  box-shadow: 5px 5px 15px -5px var(--black-2);
  background: var(--white);
}

.nav {
  height: var(--header-height);
  width: 100%;
}

.menu a {
  font-weight: 500;
  font-size: 18px;
  color: var(--black-1);
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}


.dropDown {
  background-color: var(--color-1);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  margin-top: 2rem;
  visibility: hidden;
  z-index: 100000;
}
.dropDown a {
  color: var(--white);
}

.menu a:hover {
  color: var(--color-1);
}
.dropDown a:hover {
  color: var(--color-3);
}
.sub:hover .dropDown {
  visibility: visible;
}
.undefinedactive__menu {
  color: var(--color-1) !important;
  font-weight: 700;
}

.nav__toggle, .nav__close{
  color: #000;
  font-size: 1.55rem;
  cursor: pointer;
  display: none;
}
.nav__close {
  font-size: 2rem;
   cursor: pointer;
}

.navList2{
visibility: hidden;
position: absolute;
}
/* Show menu */
.show-menu {
  right: 0;
}
@media (max-width: 768px) {
  .navList{
    position: absolute;
    visibility: hidden;
    /* flex-direction: column;
    background-color: var(--white);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: 0.3s; */
  }
  .navList2{
    position: absolute;
    visibility: visible;
    flex-direction: column;
    background-color: var(--white);
    top: 5rem;
    width: 100%;
    /* height: 100vh; */
    /* height: 100%; */
    padding: 2rem 0 2rem 0;
    transition: 0.3s;
  }
  .nav__toggle, .nav__close{
    display: block;
  }
}
